<div class="sms-container" (keydown.enter)="onReady()">
	<div class="sms-base">
		<mat-toolbar class="tool-bar" color="primary">{{this.localizationService.getText(27)}}</mat-toolbar>
		<mat-progress-bar *ngIf="this.progress" color="accent" mode="indeterminate"></mat-progress-bar>
		<div class="sms-content-block"  [formGroup]="this.smsFormGroup">
			<p class="paragraph">{{this.smsText}}</p>
			<mat-form-field appearance="fill">
				<mat-label >{{this.localizationService.getText(28)}}</mat-label>
				<input matInput formControlName="smsControl" maxlength="6" (keydown)="onKeyDown($event)" >
				<mat-error *ngIf="this.smsFormGroup.get('smsControl').hasError('required')">{{this.localizationService.getText(3)}}</mat-error>
				<mat-error *ngIf="this.smsFormGroup.get('smsControl').hasError('pattern')" >{{this.localizationService.getText(29)}}</mat-error>
			</mat-form-field>
			<div class="button-block">
				<button mat-flat-button color="primary"  [disabled]="this.activeStage" [style.cursor]="this.cursor" (click)="onReady()">{{this.localizationService.getText(1)}}</button>
				<button mat-flat-button color="primary" (click)="onCancelSms()">{{this.localizationService.getText(2)}}</button>
			</div>
		</div>
	</div>
</div>
