div.sms-container{
    height: 100%;
    position: relative;
    background-color: white;
}
.tool-bar{
    height: 60px;
}
mat-toolbar{
    flex: none;
}
div.sms-base{
    align-items: center;
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
div.sms-content-block{
    flex : 1 1 0;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.button-block, button{
    width: 100%;
}
mat-form-field{
    width: 100%;
}
p.paragraph{
    text-align: center;
}
div.button-block{
    display: flex;
    position: relative;
    justify-content: space-between;
}
div.button-block button{
    width: 49%;
}


@media  (orientation: landscape) {


}


