div.application-base-container, div.tabs-container{
    height: 100%;
}
div.tabs-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}
div.outlet-base{
    flex : 1 1 0;
    position: relative
}
mat-icon{
    position: relative;
    top: -2px;
}
mat-toolbar.button-toolbar{
    display: flex;
    flex-direction: row;
}
button.active{
    background-color: #ffffff36;;
}
