<div class="email-container">
	<div class="email-base">
		<mat-toolbar class="email-toolbar" color="primary">Авторизация по почте</mat-toolbar>
		<div class="email-content-block">
			<div class="field-block">
				<mat-form-field appearance="fill">
					<mat-label >Email</mat-label>
					<input matInput formControlName="loginControl" maxlength="25" >
					<mat-hint>Email пользователя</mat-hint>
					<mat-error *ngIf="loginPassGroup.get('loginControl').hasError('required')">Обязательный</mat-error>
					<mat-error *ngIf="!loginPassGroup.get('loginControl').hasError('required') && loginPassGroup.get('loginControl').hasError('notUniqueLogin')">Логин не уникален</mat-error>
				</mat-form-field>
				<mat-form-field class="mat-form-pass-block" appearance="fill">
					<mat-label>Пароль</mat-label>
					<input #passInput type="text" matInput formControlName="passControl" maxlength="16" >
					<mat-hint>Пароль пользователя</mat-hint>
					<div class="pass-suffix" matSuffix>
						<button mat-button  mat-icon-button aria-label="Пароль" (click)="passInput.type = passInput.type == 'text' ? 'password' : 'text' ">
							<mat-icon [style.color]="'#797979'" [svgIcon]="passInput.type == 'text' ? 'visibility-off' : 'visibility'"></mat-icon>
						</button >
					</div>
					<mat-error *ngIf="loginPassGroup.get('passControl').hasError('minlength') && !loginPassGroup.get('passControl').hasError('required')">От 8 до 16 символов
					</mat-error>
					<mat-error *ngIf="loginPassGroup.get('passControl').hasError('required')">Обязательный</mat-error>
				</mat-form-field>
				<mat-error class="pass-code-error" *ngIf="loginPassError">{{loginPassError}}</mat-error>
			</div>
			<div class="button-block">
				<button class="email-ready" mat-flat-button color="primary">Готово</button>
				<span class="example-spacer"></span>
				<button class="email-cancel" mat-flat-button color="primary">Отмена</button>
			</div>
		</div>
	</div>
</div>
