*.red {
    background-color: red;
}
div.sms-setting-base{
    display: flex;
    flex-direction: column;
}
div.sms-setting-base,
div.sms-setting-container{
    height: 100%;
}
div.sms-setting-form-content{
    padding: 32px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
:host::ng-deep formly-form mat-radio-group.mat-radio-group{
    display: flex;
    flex-direction: column;
    outline: none;
}
:host::ng-deep formly-form mat-radio-button{
    margin-bottom: 8px;
}
mat-toolbar.alert-toolbar{
    white-space: normal!important;
    height: auto!important;
    padding: 16px!important;
}
:host::ng-deep formly-field.sourceMoney{
    display: block;
    padding: 8px;
}
:host::ng-deep formly-form.formly-input-content{
   margin-top: 25px;
}
div.alert-block{
    display: block;
    line-height: 20px;
    font-size: 16px!important
}
div.input-block{
    display: flex;
    justify-content: space-around;
    align-self: center;
}
div.formly-icon-base{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.sms-total{
    margin-right: 8px;
}
div.formly-input-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.formly-icon{
  display: flex;
}
button.pay-button{
    margin-top: 16px;
}

div.icon-container{
    flex: 1 1 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-icon.iconHelp{
    position: relative;
    top: -2px;
}
mat-icon.pay-money-button{
    width: 70%;
    height: 70%;
}
@media (max-width: 480px) and (orientation: portrait){
    div.sms-setting-form-content {
        padding: 0 32px 32px 32px;
    }

    div.formly-icon-base{
        flex-direction: column;
        align-items: flex-start;
    }
}

