*.red {
    background-color: red;
}
div.input-block,
div.formly-input-block,
div.sms-setting-container,
div.sms-setting-base{
    height: 100%;
}
div.sms-setting-base{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
pre{
    margin: 0;
}
div.spinner-block{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 65, 65, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.sms-setting-form-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px #cdcdcd;
    background: white;
}
:host::ng-deep formly-form mat-radio-group.mat-radio-group{
    display: flex;
    flex-direction: column;
    outline: none;
}
:host::ng-deep formly-form mat-radio-button{
    margin-bottom: 8px;
}
:host::ng-deep formly-field.sourceMoney{
    display: block;
}

div.alert-block{
    display: block;
    line-height: 20px;
    font-size: 16px!important
}

div.formly-icon-base{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
mat-toolbar.sms-toolbar{
    position: absolute;
    top: 0;
}
div.sms-total{
    margin-right: 8px;
}
formly-form.formly-input-content{
    margin: 16px 0;
}
div.formly-input-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
div.comission{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
div.formly-icon{
  display: flex;
}
button.pay-button{
    margin-top: 16px;
    width: 100%;
}
span.resultText{
    font-size: 20px !important;
    font-weight: 500;
}

div.icon-container{
    flex: 1 1 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-icon.iconHelp{
    position: relative;
    top: -2px;
}
@media all and (max-width:460px){
    div.sms-setting-form-content{
        box-shadow: initial;
    }
}

@media all and (min-width:460px) {
    div.formly-icon-base{
        flex-direction: row;
    }
}




