*.red {
    background-color: red;
}
div.sms-setting-base,
div.sms-setting-container{
    height: 100%;
}
div.sms-setting-base{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
div.sm-setting-form-content{
    padding: 32px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
mat-radio-button{
    margin-right: 16px;
}
mat-toolbar.alert-toolbar{
    white-space: normal!important;
    height: auto!important;
    padding: 16px!important;
}
:host::ng-deep formly-field.sourceMoney{
    display: block;
    padding: 8px;
}
:host::ng-deep formly-form.formly-input-content{
   margin-top: 25px;
}
div.alert-block{
    display: block;
    line-height: 20px;
    font-size: 16px!important
}
img.pay-money-button{
    width: 30%;
    min-width: 200px;
}
div.input-block{
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: #e7ebeb;
}
div.formly-input-block{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button.pay-button{
    margin-top: 16px;
}
button.help-button{
    margin: 0 8px;
}

