div.help-container{
    height: 100%;
    background-color: white;
}
div.help-base{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px 40px;
}
mat-toolbar{
    height: 60px;
    flex : none;
}
div.help-base{
    height: calc(100% - 60px);
    box-sizing: border-box;
}
p{
    text-align: justify;
}

@media(max-height : 400px) and (orientation: landscape){
    div.help-base{
        padding: 30px 80px;
    }
}

@media(max-width: 400px) and (orientation: portrait){

}

