<div class="main-block-phone">
	<mat-toolbar class="phone-toolbar" [color]="'primary'">
		<span class="header">{{this.localizationService.getText(0)}}</span>
		<span class="example-spacer"></span>
		<button mat-icon-button (click)="onHelp()" routerLink="/authorization/enter/help" [queryParams]="{type: 'phone'}">
			<mat-icon class="help-icon" svgIcon="help"></mat-icon>
		</button>
	</mat-toolbar>
	<mat-progress-bar *ngIf="this.progress" color="accent" mode="indeterminate"></mat-progress-bar>
	<div class="phone-container" (keydown.enter)="onClickPhoneButton()">
		<div class="phone-block" [ngClass]="{active : phoneBlockClass}" [formGroup]="phoneGroup" >
			<div class="phone-form-container">
				<div class="form-field-container">
					<mat-form-field class="phone-field" appearance="fill">
						<mat-label>{{this.localizationService.getText(20)}}</mat-label>
						<mat-select formControlName="codeControl" [(value)]="selected" >
							<mat-select-trigger class="phone-code-trigger">
								<div class="base-content">
									<img class="state-img" [alt]="selected.alt"  [src]="selected.src">
									<span class="location">{{selected.class.toUpperCase()}}</span>
									<span class="state-code">{{selected.code}}</span>
								</div>
							</mat-select-trigger>
							<mat-option class="state-code-option" *ngFor="let state of states" [value]="state">
								<div class="base-content">
									<img class="state-img" [alt]="state.alt" [src]="state.src">
									<span class="location">{{state.class.toUpperCase()}}</span>
									<span class="state-code">{{state.code}}</span>
								</div>
							</mat-option>
						</mat-select>
						<mat-hint>{{this.localizationService.getText(20)}}</mat-hint>
						<mat-error *ngIf="phoneGroup.get('codeControl').hasError('required')">{{this.localizationService.getText(3)}}</mat-error>
					</mat-form-field>
					<mat-form-field class="phone-number" appearance="fill">
						<mat-label>{{this.localizationService.getText(4)}}</mat-label>
						<input matInput formControlName="phoneControl" maxlength="10"  placeholder="**********" (keydown)="onKeyDown($event)" (keyup)="onKeyPress()">
						<mat-icon class="phone-icon" matSuffix svgIcon="phone" color="primary"></mat-icon>
						<mat-hint>{{this.localizationService.getText(4)}}</mat-hint>
						<mat-error *ngIf="phoneGroup.get('phoneControl').hasError('pattern') && !phoneGroup.get('phoneControl').hasError('required')">{{this.localizationService.getText(5)}}</mat-error>
						<mat-error *ngIf="phoneGroup.get('phoneControl').hasError('required')">{{this.localizationService.getText(3)}}</mat-error>
						<mat-error class="phone-code-error" *ngIf="phoneCodeError">{{phoneCodeError}}</mat-error>
					</mat-form-field>
				</div>
				<mat-error class="phone-code-error" *ngIf="phoneCodeError">{{phoneCodeError}}</mat-error>
				<div class="button-group" #buttonBlock>
					<button id="phone-ready" class="phone-ready" type="submit" mat-raised-button color="primary" [disabled]="this.activeStage" [style.cursor]="this.cursor" (click)="onClickPhoneButton()">{{this.localizationService.getText(1)}}</button>
					<span class="example-spacer"></span>
					<button class="phone-cancel" mat-raised-button color="primary" (click)="onCancelButton()">{{this.localizationService.getText(2)}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
