div.main-block-phone{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
div.phone-container{
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px -8px;
    padding: 20px 40px;
    flex: 1 1 0;
    
}
mat-toolbar{
    flex: none;
}
.phone-toolbar{
    height: 60px;
}
mat-icon.help-icon{
    position: relative;
    top: -2px;
}
mat-icon.phone-icon{
    position: relative;
    top: -4px
}
div.phone-block{
    height: 100%;
}
div.phone-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
div.form-field-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
mat-form-field{
    line-height: 1;
    width: 100%;
}
mat-select-trigger > *{
    margin-right: 4px;
}
mat-select-trigger{
    display: flex;
    align-items: center;
}
.state-img{
    height: 18px;
}
div.base-content{
    display: flex;
    align-items: center;
}
.button-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button-group button{
    width: 49%;
}

.state-img,.location,.state-code{
    margin-right: 6px;
}
@media(orientation: landscape) {
    div.form-field-container{
        flex-direction: row;
    }
    mat-form-field.phone-field{
        width: 38%;
    }
    mat-form-field.phone-number{
        width: 58%;
    }
    div.phone-container{
        padding: 20px;
    }
}
@media(orientation: portrait) {
    div.form-field-container{
        flex-direction: column;
    }
}
@media(max-height : 400px) and (orientation: landscape){
    div.phone-container{
        padding: 30px 80px;
    }
}

@media(max-width: 400px) and (orientation: portrait){
    div.phone-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
    }
    div.phone-block{
        height: 260px;
        width: 100%;
    }
}


