<div class="permission-container">
	<div class="permission-center">
		<div  class="permission-item" *ngFor="let perm of this.permissions$ | async" [ngClass]="perm.className" [@notificationAppearance]="(this.permissions$ | async).length">
			<ng-container [ngSwitch]="perm.name">
				<div class="notifications" *ngSwitchCase="'notifications'" [ngClass]="perm.state">
					<div class="content notifications-content" matRipple (click)="perm.click()">
						<mat-icon class="not-icon" color="primary" [color]="perm.state === 'prompt' ? 'primary' : 'warn'"  [svgIcon]="'0'" >  </mat-icon>
						<p class="prompt" *ngIf="perm.state === 'prompt'">Приложению необходимо получить разрешение пользователя на отправку системных уведомлений. Это разрешение запрашивается один раз и в дальнейшем будет использоваться автоматически.</p>
						<p class="denied" *ngIf="perm.state === 'denied'">Пользователь не разрешил отправку уведомлений. Работа приложения невозможна. Снимите запрет отправки уведомлений и повторите попытку.</p>
					</div>
				</div>
				<div class="camera" *ngSwitchCase="'camera'" [ngClass]="perm.state">
					<div class="content camera-content"  matRipple (click)="perm.click()">
						<mat-icon [color]="perm.state === 'prompt' ? 'primary' : 'warn'"  [svgIcon]="'1'" > </mat-icon>
						<mat-icon [color]="perm.state === 'prompt' ? 'primary' : 'warn'"  [svgIcon]="'2'" > </mat-icon>
						<p class="prompt" *ngIf="perm.state === 'prompt'">Приложению необходимо получить разрешение пользователя на использование камеры и микрофона. Это разрешение запрашивается один раз и в дальнейшем будет использоваться автоматически.</p>
						<p class="denied" *ngIf="perm.state === 'denied'">Пользователь не разрешил использовать камеру и микрофон. Работа приложения невозможна. Снимите запрет использования камеры и микрофона и повторите попытку.</p>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
