@font-face {
    font-family: 'Oswald-L';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/Oswald-Light.ttf") ;    /*src/assets/fonts/YanoneKaffeesatz-Light.ttf*/
}

/*@font-face {
    font-family: 'Material Icons Outlined';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Material-icons-outlined.woff2) format('woff2');
}*/

.material-icons,.material-icons-outlined {
    font-family: 'Material Icons Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: "Oswald-L",  Roboto, "Helvetica Neue", sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    user-select: none;
}
*:not(mat-icon),.mat-tooltip{
    font-family: "Oswald-L", sans-serif!important;
    font-weight: 300;
    font-size: 14px !important;/*18px*/
}
.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar, mat-toolbar span.header,
mat-toolbar div.header{
    font-size: 16px!important;
}

/*-------------сколлбар приложения----------------*/
div.contacts-base::-webkit-scrollbar,
div.settings-base::-webkit-scrollbar{
    width: 8px;
}

div.contacts-base::-webkit-scrollbar-thumb,
div.settings-base::-webkit-scrollbar-thumb{
    background-color: #c7c7c7;
    outline: 1px solid #8496a8;
    border-radius: 4px;
}
/*------шрифт бейджика--------*/
span.mat-badge-content.mat-badge-active{
    font-size: 10px!important;
}
span.mat-badge-content{
    font-size: 12px!important;
}
/*-----------шрифт заголовков компонентов--------------*/
.component-header{
    font-size: 18px!important;
}
