<mat-toolbar *ngIf="this.breakPoints.isWidth460" color="primary">{{this.localizationService.getText(126)}}</mat-toolbar>
<div class="sms-rates-container">
    <div class="sms-rates-base">
        <div class="first" color="primary">
            <p>{{this.localizationService.getText(123)}}</p>
            <p>Стоимость отправки одного SMS уведомления : 2.5 руб.</p>
            <p>Валютой перевода является валюта источника средств</p>
            <p>* Комиссия зависит от оператора связи</p>
            <button class="sms-rates-button" mat-flat-button color="accent" (click)="onClickButton()">Далее</button>
        </div>
    </div>
</div>
